{
  "CompileFlags": {
    "Add": [
      "-ggdb",
      "-pedantic-errors",
      "-Wall",
      "-Weffc++",
      "-Wextra",
      "-Wconversion",
      "-Wsign-conversion",
      "-Werror",
      "-std=c++2b",
      
      "-Iinclude"
    ],
    "Compiler": "clang"
  },
}
